<section class="links-list">
    <ul>
        <li><a href="https://www.nationalmtb.org" target="_blank">NICA - National Interscholastic Cycling Association</a></li>
        <li><a href="https://www.trailforks.com" target="_blank">Trailforks - Find Trails</a></li>
        <li><a href="https://www.mtbr.com" target="_blank">MTBR - Mountain Biking News and Reviews</a></li>
        <li><a href="https://www.rei.com" target="_blank">REI - Mountain Biking Gear</a></li>
    </ul>
</section>
