<header class="site-header">
    <nav>
        <ul class="nav-list">
            <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
            <li><NavLink href="/whoweare">Who We Are</NavLink></li>
            <li><NavLink href="/ourseason">Our Season</NavLink></li>
            <li><NavLink href="/meettheteam">Meet The Team</NavLink></li>
            <li><NavLink href="/contact">Contact Us</NavLink></li>
            <li><NavLink href="/quicklinks">Quick Links</NavLink></li>
            <li><NavLink href="/faqs">FAQs</NavLink></li>
        </ul>
    </nav>
</header>
